@import url("styles.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

UL {
    list-style: none;
}

a {
    text-decoration: none;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.list__item {
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 230, 230);
    padding-inline: 1rem;
}

.list__link {
    color: #000;
    background-color: #fff;
    padding: 8px 10px;
    transition: all 0.3s;
}

.list__link:hover {
    background-color: #000;
    color: #fff;
}

