@import url("normalize.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin-block: 1rem;
}


figure>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* ayudas */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ************************ */

.header {
    background-color: salmon;
    flex-direction: column;
    color: #fff;
    padding-block-end: 1.5rem;
}

.header__text {
    margin: 0;
}

.nav {
    min-width: 400px;
    justify-content: space-between;
    background-color: rgb(4, 187, 156);
    padding-block: 1rem;
}

.nav__list {
    gap: 1.5rem;
    padding-inline: 1rem;
}

.nav__list--language {
    padding-inline-end: 0.5rem;
}

.nav__link {
    color: #fff;
}

.main {
    display: flex;
    min-width: 400px;
    max-width: 100%;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.aside {
    padding: 2rem 1rem;
    background-color: rgba(233, 238, 241, 0.4);
    min-width: 300px;
}

.aside__title {
    margin-block-end: 0.8rem;
}

.aside figure {
    max-width: 400px;
}

.aside>figure {
    height: 400px;
}

.aside__imgs>figure {
    height: 200px;
    margin-top: 1rem;
}

.section {
    padding-block-start: 2rem;
}

.article__container-img {
    height: 200px;
}